---
layout: base.html
---
<div class="slider-area ">
    <div
        class="single-slider hero-overly slider-height2 d-flex align-items-center"
        style="background-image: url('/assets/img/hero/about.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap pt-100">
                        <h2>{{title}}</h2>
                        <nav aria-label="breadcrumb ">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/service">Services</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">{{title}}</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Project Details Section -->
<section class="project-details section-padding30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div
                    class="projectdetails1 ">
                    <!-- Project Image -->
                    <div class="projectdetails-img ">
                        <img src="/assets/img/buildcomponents/10build.PNG" alt="buildings-with-mezzanines">
                    </div>
                </div>
                <br>
                <div class="project-description">
                    <p>
                        {{project_description}}
                    </p>
                </div>
            </div>
        </div>
        <!-- Back Button -->
        <div class="row">
            <div class="col-lg-12">
                <a href="/project/" class="btn ">Read More</a>
            </div>
        </div>
    </div>
</section>