---
layout: service_details.njk
title: Manufacturing
---

<!-- slider Area Start-->
<div class="slider-area">
  <div
    class="single-slider hero-overly slider-height2 d-flex align-items-center"
    style="
      background-image: url('/assets/img/service/Manufacturing-banner.jpg');
      background-size: cover;
      background-position: center;
    "
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-8">
          <div class="hero-cap hero-cap2 pt-120">
            <h2>Manufacturing</h2>
            <h3 style="color: antiquewhite">
              Precision Manufacturing of Structural Components
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->
<!-- Services Details Start -->
<div class="services-details-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="single-services section-padding2">
          <div class="details-img mb-40">
            <img src="/assets/img/service/Manufacturing2.png" alt="" />
          </div>
          <div class="details-caption">
            <p>
              Our manufacturing unit is equipped with state-of-the-art
              facilities to produce high-quality structural steel components.
              Premier Pre-Engineered Buildings uses HR steel plates of grade
              ASTM A572, known for its strength and durability. The primary
              members, such as H-beams, are manufactured using automated welding
              technology to ensure precision and consistency in quality. We
              follow strict quality control measures at every stage of
              production, ensuring that each component meets our stringent
              safety and performance criteria.
            </p>

            <!-- <p class="mb-50">Mollit anim laborum.Dvcuis aute iruxvfg dhjkolohr in re voluptate velit esscillumlore eu quife nrulla parihatur. Excghcepteur sfwsignjnt occa cupidatat non aute iruxvfg dhjinulpadeserunt mollitemnth incididbnt ut;o5tu layjobore mofllit anim.Mollit anim laborum.Dvcuis aute iruxvfg.</p> -->

            <h3>How can we help?/ Key Features</h3>
            <!-- <p>Mollit anim laborum.Dvcuis aute iruxvfg dhjkolohr in re voluptate velit esscillumlore eu quife nrulla parihatur. Excghcepteur sfwsignjnt occa cupidatat non aute iruxvfg dhjinulpadeserunt mollitemnth incididbnt ut;o5tu layjobore mofllit anim.Mollit anim laborum.Dvcuis aute iruxvfg.</p> -->

            <ul style="list-style-type: disc; padding-left: 20px">
              <li style="margin-bottom: 10px">
                Production of custom-built primary members (H-beams, columns)
              </li>
              <li style="margin-bottom: 10px">
                Automated welding techniques for enhanced accuracy
              </li>
              <li style="margin-bottom: 10px">
                Use of high-grade steel with a minimum yield strength of 345 MPa
              </li>
              <li style="margin-bottom: 10px">
                Pre-galvanized and corrosion-resistant secondary members
                (purlins, girts, eave struts)
              </li>
              <li style="margin-bottom: 10px">
                Flexibility to manufacture components as per unique design
                requirements
              </li>
            </ul>
            <p>
              By manufacturing all critical components in-house, we maintain
              total control over the quality and timeline of your project.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Services Details End -->
